/* Estilos para a página de gerenciamento de projetos */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1; /* Cor de fundo suave */
}

.container {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à caixa */
  background-color: #fff; /* Fundo branco */
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px; /* Espaço entre o menu e o conteúdo */
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #e67e22;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f1c40f;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 48%; /* Defina a largura de cada seção aqui */
  box-sizing: border-box; /* Inclui padding e borda na largura */
}

.project-section,
.activities-table {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px; /* Espaço entre as seções */
}

.activities-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.activities-table th, .activities-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.activities-table th {
  background-color: #ecf0f1;
}

#calendar-container {
  max-width: 80%;
  margin: 0 auto;
}

footer {
  background-color: #ecf0f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
