body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030; /* Fundo cinza escuro */
  color: #fff; /* Cor do texto */
}

.container {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #424242; /* Fundo cinza mais escuro para a caixa */
  border-radius: 15px;
}

header {
  background-color: #616161; /* Cinza escuro para o cabeçalho */
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

nav {
  background-color: #757575; /* Cinza médio para a navegação */
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff5722; /* Laranja para hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f1c40f;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 48%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #616161; /* Cinza médio para as seções */
}

.project-section,
.activities-table,
#calendar-box,
#messages {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #757575; /* Cinza médio para os elementos dentro das seções */
  border-radius: 10px;
  margin-bottom: 20px;
}

.activities-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.activities-table th, .activities-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.activities-table th {
  background-color: #616161; /* Cinza escuro para o cabeçalho da tabela */
}

#calendar-container {
  width: 100%; /* Ocupa toda a largura */
}

#messages {
  height: 300px; /* Altura fixa para a seção de mensagens */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
}

footer {
  background-color: #616161;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
