#user-page-main{
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 90vw;
    background-color: rgba(192, 169, 189, 1);
    border-radius: 1rem;
}

#user-information{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: 080808;
    text-align: left;
    font-size: 1.4vw;}

#information-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #f4f2f3;
    margin-bottom: 1rem;
    width: 70vw;
    align-items: center;
}

#user-information-label{
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

#information-item-double{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#information-item-mini{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 33vw;
    border-radius: 1rem;
    background-color: #f4f2f3;
    padding: 1rem;
    border-radius: 1rem;
}

#information-edit-button{
    background-color:  rgba(192, 169, 189, 1);
    margin-left: 2vw;
    flex: .15;
    border: transparent;
    border-radius: 1rem;
    padding: .7rem;
    font-size: 1.1vw;
    cursor: pointer;
}

#information-edit-button.invisivel{
    background-color:  #f4f2f3;
    color: #f4f2f3;
    border: transparent;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.1vw;
    cursor: pointer;
}

#information-edit-button.invisivel:hover{
    background-color:  #f4f2f3;
    color: #f4f2f3;
    cursor: auto;
}

#information-edit-button:hover{
    background-color: rgb(243, 214, 239)
}

#information-label{
    font-weight: bold;
    flex: 1;
}

p, textarea{
    flex: 1;
    padding: .5rem;
    text-align: left;
    resize: none;
}

textarea{
    background-color: rgba(192, 169, 189, 1);
    border:transparent;
    font-size: 1.1vw;
    border-radius: .5rem;
    vertical-align: middle;
}
